<a href="https://colab.research.google.com/github/kunal-mallick/Data-Science-Assignments/blob/main/Hypothesis%20Testing/Code/Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

- **Minitab File : Cutlets.mtw**

- **H**(o) : Cutlets diameter of Unit A = Cutlets diameter of Unit B
- **H**(a) : Cutlets diameter of Unit A != Cutlets diameter of Unit B

**Alpha value** : 0.05(*it a 2 tail 2 sample test*)

In [1]:
import pandas as pd
from scipy import stats as st

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/kunal-mallick/Data-Science-Assignments/main/Hypothesis%20Testing/Dataset/Cutlets.csv')
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [6]:
df.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [12]:
alpha =0.05
statistic,pvalue = st.ttest_ind(df["Unit A"],df["Unit B"])
if pvalue > alpha :
  print("Fail to reject the null hypothesis \n Cutlets diameter of Unit A = Cutlets diameter of Unit B")
else :
  print("rejecting the null hypothesis\n Cutlets diameter of Unit A != Cutlets diameter of Unit B")

Fail to reject the null hypothesis
 Cutlets diameter of Unit A = Cutlets diameter of Unit B