# Prepare a prediction model for whether the client has subscribed a term deposit or not.

## Attaching Resources

### Importing Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as pe
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report,confusion_matrix
import warnings

warnings.filterwarnings('ignore')
plt.rcParams['figure.figsize'] = (20,15)
plt.rcParams['figure.dpi'] = 350
sns.set_style(style='darkgrid')
plt.tight_layout()

### Adding Dataset

In [4]:
bk = pd.read_csv('https://raw.githubusercontent.com/kunal-mallick/Data-Science-Assignments/working/Assignment_06_Logistic%20Regression/Dataset/bank-full.csv',sep=";")

bk.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [ ]:
df_nrow = bk.shape[0]

In [ ]:
def lost_record():
    
    bk_nrow_now = bk.shape[0]
    lost = bk_nrow - bk_nrow_now
    lost = (lost/bk_nrow)*100
    lost = round(lost,2)

    return print('We lost ' + str(lost) + ' % data')